doctype html
html
	head
		meta(charset="utf-8")
		title Frost
		link(href="./static/base.css", rel="stylesheet")
		link(href="./static/entrance.css", rel="stylesheet")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="./static/main.js")

	body
		header
			.message-container

		main
			.entrance-container
				.sub-section
					h1 Frostへようこそ
					p まだアカウント作成も実装できてません。

				.signin-section
					h2 ログイン

					form
						input.screen-name-box(type="text", name="screen_name", placeholder="ユーザー名")
						input.password-box(type="password", name="password", placeholder="パスワード")

						button.signin-button ログイン

						button.signup-button アカウントを作成

		footer.entrance-footer
			small (c) marihachi.
