doctype html
html
	head
		meta(charset="utf-8")
		title Frost
		link(href="./static/core.css", rel="stylesheet")
	body
		main
			.entrance-container
				.sub-section
					h1 Frostへようこそ

				.login-section
					h1 ログイン

					form
						input.text-input.screen-name-box(type="text", placeholder="ユーザー名")
						input.text-input.password-box(type="password", placeholder="パスワード")
						button.button-input ログイン

		footer.entrance-footer
			small (c) marihachi.
