/* device width */

$phone: 414px;
$tablet: 768px;
$desktop: 1024px;
$desktopWide: 1280px;

/* colors */

$back-color: hsl(214, 100%, 98%);
$fore-color: hsl(189, 50%, 20%);
$border-color: rgba(0, 0, 0, 0.1);

$back-color-dev: hsl(190, 26%, 50%);
$fore-color-dev: hsla(0, 0%, 100%, 0.84);
$border-color-dev: hsla(0, 0%, 100%, 0.3);

$white: hsl(0, 0%, 100%);
$orange: hsl(33, 100%, 64%);

$textbox-back-color: hsl(206, 47%, 93%);
$textbox-back-color-focus: hsla(206, 47%, 93%, 0.5);
$textbox-invalid-value-color: hsla(0, 100%, 50%, 0.2);

/* font-family */

$general-font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, メイリオ, sans-serif;

/* mixins */

// $break-point より幅の広いエリアに適用
@mixin greater-than($break-point) {
	@media screen and (min-width: $break-point) {
		@content;
	}
}

// $break-point より幅の狭いエリアに適用
@mixin less-than($break-point) {
	@media screen and (max-width: $break-point - 1px) {
		@content;
	}
}

// レスポンシブ表示をサポートする。(親コンテナに適用してください)
@mixin responsive() {
	display: flex;
	margin: 0 auto;

	@include less-than($tablet) {
		width: 100%;
	}
	@include greater-than($tablet) {
		max-width: $tablet;
	}
	@include greater-than($desktop) {
		max-width: $desktop;
	}
	@include greater-than($desktopWide) {
		max-width: $desktopWide;
	}
}

@mixin box() {
	border: 1px solid $border-color;
	border-radius: 0.2rem;
	padding: 1.1rem 1.1rem 0.3rem;

	@include less-than($tablet) {
		border: none;
		border-radius: unset;
		padding: 0;
	}
}