/* display width */

$phone: 420px;
$tablet: 768px;
$desktop: 1024px;
$desktopHD: 1280px;

/* colors */

$back-color: hsl(214, 100%, 98%);
$fore-color: hsl(189, 50%, 20%);
$border-color: rgba(0, 0, 0, 0.1);

$back-color-dev: hsl(190, 26%, 50%);
$fore-color-dev: hsla(0, 0%, 100%, 0.84);
$border-color-dev: hsla(0, 0%, 100%, 0.3);

$white: hsl(0, 0%, 100%);
$orange: hsl(33, 100%, 64%);

$textbox-back-color: transparent;

/* mixins */

@mixin responsive($direction: column, $minWidth: 300px) {
	display: flex;
	flex-direction: $direction;
	min-width: $minWidth;
	margin: 0 auto;
	padding: 0 .5rem;

	// タブレットより幅の小さい端末
	@media (max-width: $tablet - 1px) {
		width: 100%;
	}

	// 携帯端末の幅以上の端末
	@media (min-width: $phone) {
		padding: 0 1.5rem;
	}

	// タブレットの幅以上の端末
	@media (min-width: $tablet) {
		max-width: $tablet;
	}

	// デスクトップの幅以上の端末
	@media (min-width: $desktop) {
		max-width: $desktop;
	}

	// デスクトップ(HD)の幅以上の端末
	@media (min-width: $desktopHD) {
		max-width: $desktopHD;
	}
}
