@import "variables";
@import "main";

/* 全般 */

.logo {
	font-size: 4.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0;

	.icon {
		height: 5rem;
	}
}

.content {
	> .side {
		width: 250px;

		@media (max-width: $tablet - 1px) {
			display: none;
		}

		.box {
			margin: 10px 0;
		}
	}

	> .main {
		min-width: 300px;
		flex: 1;
	}

	> .side,
	> .main {
		h1 {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	> :not(:last-child) {
		margin-right: 2rem;
	}
}
