@import "variables";
@import "main";

/* 全般 */

.content {
	> .side {
		@media (max-width: $tablet - 1px) {
			display: none;
		}

		.box {
			margin: 10px 0;
		}
	}

	> .side {
		width: 250px;
	}

	> .main {
		min-width: 300px;
		flex: 1;
	}

	> .side,
	> .main {
		h1 {
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}
