@import "variables";

/* 全般 */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Raleway, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, メイリオ, sans-serif;
	word-wrap: break-word;
	background-color: $back-color;
	color: $fore-color;

	> .content {
		@include responsive();

		padding-top: 6.5rem !important;

		> :not(:last-child) {
			margin-right: 2rem;
		}
	}
}

button, .button, label {
	user-select: none;
}

textarea {
	resize: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	background-color: $textbox-back-color;
}

form :last-child {
	margin-bottom: 0;
}

.box {
	border: none;
	border-color: $border-color;
	border-radius: unset;
	padding: 0;

	@media (min-width: $phone) {
		border: 1px solid;
		border-radius: 4px;
		padding: 30px;
		padding-bottom: 0px;
	}
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}
