@import "variables";

// 全般

* {
	box-sizing: border-box;
}

html {
	// 基本となるフォントサイズ(ここ以外ではremでそれぞれ相対指定)
	font-size: 17px;
	@include less-than($tablet) {
		font-size: 15px;
	}
	@include less-than($phone) {
		font-size: 13px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $general-font-family;
	word-wrap: break-word;
	background-color: $back-color;
	color: $fore-color;
	font-size: 1rem;
	min-width: 270px;
}

button, .button, label {
	user-select: none;
}

textarea {
	resize: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	font-size: 0.75rem;
	font-family: $general-font-family;
	background-color: $textbox-back-color;
	transition: border 150ms ease-in-out;
}

form :last-child {
	margin-bottom: 0;
}

.box {
	border: 1px solid $border-color;
	border-radius: 0.2rem;
	padding: 1.1rem 1.1rem 0.3rem;

	@include less-than($tablet) {
		border: none;
		border-radius: unset;
		padding: 0;
	}
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}

hr {
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.7rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

p {
	margin-bottom: 2rem;
}
