@import "variables";

/* 全般 */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: $general-font-family;
	word-wrap: break-word;
	background-color: $back-color;
	color: $fore-color;
}

button, .button, label {
	user-select: none;
}

textarea {
	resize: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	font-size: 1.375rem;
	font-family: $general-font-family;
	background-color: $textbox-back-color;
	transition: border 150ms ease-in-out;
}

form :last-child {
	margin-bottom: 0;
}

.box {
	border: 1px solid $border-color;
	border-radius: 0.4rem;
	padding: 2rem 2rem 0.5rem;

	@include less-than($tablet) {
		border: none;
		border-radius: unset;
		padding: 0;
	}
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}
