@import "variables";

// 全般

* {
	box-sizing: border-box;
}

html {
	// 基本となるフォントサイズ(ここ以外ではremでそれぞれ相対指定)
	font-size: 16.5px;
	@include less-than($tablet) {
		font-size: 15px;
	}
	@include less-than($phone) {
		font-size: 13px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: $general-font-family;
	word-wrap: break-word;
	background-color: $back-color;
	color: $fore-color;
	font-size: 1rem;
	min-width: 270px;
}

a {
	transition: color 200ms ease-in-out;
}

button, .button {
	transition: color 200ms ease-in-out, border-color 200ms ease-in-out;
}

button, .button, label {
	user-select: none;
}

textarea {
	resize: none;
}

input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
textarea {
	font-size: 0.75rem;
	font-family: $general-font-family;
	background-color: $textbox-back-color;
	transition: background-color 200ms ease-in-out;
	border: none;
	border-radius: 6px;

	&:focus {
		border: none;
		background-color: $textbox-back-color-focus;
	}

	&.checkable {
		&:invalid {
			background-color: $textbox-invalid-value-color;
		}
	}
}

form :last-child {
	margin-bottom: 0;
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}

hr {
	margin: 2rem 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.7rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.1rem; }

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

p, ul, form {
	margin-bottom: 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}
}

fieldset, input, select, textarea {
	margin-bottom: 0.8rem;
}