.sub-section {}

.signin-section
	width: 300px
	background: rgba(255, 255, 255, .3)
	padding: 25px
	border-radius: 5px
	box-sizing: content-box

.signin-section h2
	margin-bottom: 10px

.entrance-container
	display: flex
	padding: 200px 0px
	justify-content: space-around
	align-items: center

.entrance-container > div
	margin: 20px

.signin-section > form
	display: flex
	flex-direction: column

.entrance-footer
	text-align: center
	background-color: rgb(43, 43, 43)
	color: rgb(224, 236, 239)
	padding: 10px
