@import 'nib'

html
	width: 100%
	height: 100%

body
	width: 100%
	height: 90%

main
	height: 100%;

.sub-section {}

.signin-section
	background: rgba(255, 255, 255, .3)
	padding: 25px
	border-radius: 5px
	box-sizing: content-box

.signin-section h2
	margin-bottom: 10px

.entrance-container
	display: flex
	height: 100%
	justify-content: space-around
	align-items: center

.entrance-container > div
	margin: 20px

.signin-section > form
	display: flex
	flex-direction: column

.entrance-footer
	text-align: center
	background-color: rgb(43, 43, 43)
	color: rgb(224, 236, 239)
	padding: 10px
