meta(name="application-name", content="Frost-Web")
meta(name="description", content="The cool and cool SNS")
meta(name="author", content="team Frost Develop")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="_csrf", content=csrfToken)
// icons
link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
link(rel="apple-touch-icon", sizes="152x152", href="/images/apple-touch-icon.png")
// fonts
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:400,300,600")
// styles
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
link(rel="stylesheet", href="/styles/base.css")
