meta(name='application-name', content='Frost')
meta(name='description', content='A cool and cool social-media.')
meta(name='author', content='team FrostDev')
meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
meta(name='_csrf', content=csrfToken)
if siteKey != null
	meta(name='siteKey', content=siteKey)
	script(src='https://www.google.com/recaptcha/api.js')
if userId != null
	meta(name='frost-userId', content=userId)
script(src='/socket.io/socket.io.js')
// icons
link(rel='shortcut icon', type='image/x-icon', href='/images/favicon.ico')
link(rel='apple-touch-icon', sizes='152x152', href='/images/apple-touch-icon.png')
// fonts
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,600')
// styles
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
