header
	ul
		li
			a(href='/') Home
		li
			a(href='/dev' target='_blank') Developers Center
		if userId != null
			li
				a(href='/users/'+user.screenName target='_blank') @#{user.screenName}
			li
				frost-logout-button
