doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost Developers Center
		include includes/head
		link(rel='stylesheet', href='/styles/dev.css')

		if siteKey != null
			meta(name='siteKey', content=siteKey)
			script(src='https://www.google.com/recaptcha/api.js')

	body
		frost-page(name='dev')
		script(src='/scripts/bundle.js')
