doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost
		include includes/head
		link(rel='stylesheet', href='/styles/entrance.css')

	body
		include includes/header

		.content
			section#logo-section
				h1
					img.logo-icon(src='../images/apple-touch-icon.png')
					| Frost
				p
					| A cool and cool social-media.
					br
					| 冷やし中華はじめました。

			section
				frost-login-form

			section
				frost-signup-form

		include includes/footer

		script(src='/scripts/bundle.js')
