doctype html

html
	head
		meta(charset='utf-8')
		title Frost
		meta(name="application-name" content="Frost-Web")
		meta(name="description" content="The cool and cool SNS")
		meta(name="author" content="team Frost Develop")
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet' type='text/css')

		link(href='./resource/normalize.css', rel='stylesheet' type='text/css')
		link(href='./resource/skeleton.css', rel='stylesheet' type='text/css')
		link(href='./resource/entrance.css', rel='stylesheet' type='text/css')

		link(href='./resource/favicon.ico', rel='icon', type='image/png')

		script(src='./resource/main.js')

	body
		header
			.message-container

		main
			.container
				.row(style='margin-top: 20%')
					.eight.columns.offset-by-three
						h1
							img.logo-icon(src='images/apple-touch-icon.png')
							| Frost
						p A cool and cool social-media.
							br
							| 冷やし中華はじめました。
				.row(style='margin-top: 5%')
					.six.columns.offset-by-three
						h3 Login
						form
							label(for='screen_name') Username
							input.screen-name-box(type='test', name='screen_name', placeholder='frost_abc', style="width: 100%", required)
							label(for='password') Password
							input.password-box(type='password', name='password', style="width: 100%", required)
							input.button-primary#signin-button(type="submit", value="Login")
						button.button.orange-button#signup-button アカウントを作成する

		footer
			small (c)team FrostDevelop.
