doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost

	body
		p WebSocket テスト
		script.
			const serializeEvent = (eventName, content) => {
				return JSON.stringify({name: eventName, content: content});
			};

			let webSocket;
			if (webSocket == null) {
				webSocket = new WebSocket('ws://localhost:8001/');

				webSocket.onopen = (ev) => {
					console.log('open:');
					console.dir(ev);
					webSocket.send(serializeEvent('event_name1', {a: 'hoge'}));
				};
				webSocket.onmessage = (ev) => {
					console.log('message:');
					console.dir(ev);
				};
				webSocket.onclose = (ev) => { console.log('close:'); console.dir(ev); };
				webSocket.onerror = (ev) => { console.log('error:'); console.dir(ev); };
			}
