* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: rgb(43, 43, 43);
}

body {
	background-color: rgb(224, 236, 239);
	color: rgb(43, 43, 43);
	font-family: "メイリオ", Arial, Helvetica, sans-serif;
}

input, button {
	border: 1px solid rgb(43, 43, 43);
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

.text-input {
	height: 35px;
	background: transparent;
}

.button-input {
	height: 40px;
	background: rgb(43, 43, 43);
	color: rgb(224, 236, 239);
}

.message-container {
	width: 100%;
}

.message-item {
	position: fixed;
	width: 512px;
	background: rgba(0, 0, 0, .7);
	color: rgb(255, 255, 255);
	padding: 10px 0;
	margin: 0 auto;
	right: 0;
	left: 0;
	text-align: center;
}