doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost - アプリケーション連携
		include includes/head
		link(rel='stylesheet', href='/styles/main.css')

	body
		frost-header

		.content
			.main
				frost-appauth-form

		frost-footer

		script(src='/bundle.js')
