doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost Developers Center
		include includes/head
		link(rel='stylesheet', href='/styles/dev.css')

	body
		frost-header

		.content
			header
				h3 Frost Developers Center

			.row(style='margin-top: 30px')
				.ten.columns.offset-by-one
					h4 Your Applications
					frost-applications
			.row(style='margin-top: 30px')
				frost-create-application-form

		frost-footer

		script(src='/bundle.js')
