doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost
		include includes/head
		link(rel='stylesheet', href='/styles/home.css')

	body
		include includes/header

		.content
			.side
				.logo
					img.icon(src='../images/apple-touch-icon.png')
					| Frost
				p ようこそ、#{account.name}さん。
				hr
				frost-create-status-form
			.main
				h1 パブリック タイムライン
				frost-public-timeline

		include includes/footer

		script(src='/bundle.js')
