doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost
		include includes/head
		link(rel='stylesheet', href='/styles/home.css')

	body
		frost-header(data-active='home')

		.content
			.side
				frost-home-logo
				hr
				frost-create-status-form
				frost-hint
			.main
				h1 タイムライン
				frost-timeline(data-name='home')

		frost-footer

		script(src='/bundle.js')
