doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title #{title}
		include includes/head
		link(rel='stylesheet', href='/styles/page.css')

	body
		frost-header(data-active=id)
		frost-page-selector(data-page-id=id)
		frost-footer

		if (scriptFile != null)
			script(src=scriptFile)
