doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost - ユーザーの一覧
		include includes/head
		link(rel='stylesheet', href='/styles/user.css')

	body
		frost-header

		.content
			.main
				h1 Frostのユーザーの一覧
				ul
					each user in users
						li
							a(href='users/'+user.screenName) @#{user.screenName}

		frost-footer

		script(src='/bundle.js')
