doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost - #{user.name}さんのページ
		include includes/head
		link(rel='stylesheet', href='/styles/user.css')

	body
		frost-header

		.content
			.side
				h3 #{user.name} @#{user.screenName}
				h4 Description:
				p #{user.description}
			.main
				p not implemented yet.

		frost-footer

		script(src='/bundle.js')
