doctype html
html(lang='ja')

	head
		meta(charset='utf-8')
		title Frost - #{user.name}さんのページ
		include includes/head
		link(rel='stylesheet', href='/styles/main.css')

	body.container
		include includes/header

		main
			.row(style='margin-top: 30px')
				h3 #{user.name} @#{user.screenName}
				h4 Description:
				p #{user.description}

		include includes/footer

		script(src='/bundle.js')
