$back-color: hsl(214, 100%, 98%);
$fore-color: hsl(189, 50%, 20%);
$border-color: rgba(0, 0, 0, 0.1);

$back-color-dev: hsl(190, 26%, 50%);
$fore-color-dev: hsla(0, 0%, 100%, 0.84);
$border-color-dev: hsla(0, 0%, 100%, 0.3);

$white: hsl(0, 0%, 100%);
$orange: hsl(33, 100%, 64%);

$textbox-back-color: transparent;
