/* 下の条件に合わないとき */
body {
	font-family: Raleway, HelveticaNeue, "Helvetica Neue", Helvetica, Arial, メイリオ, sans-serif;
	background-color: hsl(210, 100%, 99%);
	color: rgb(45, 45, 45);
}

.orange-button {
	color: hsl(0, 0%, 100%);
	background-color: hsl(33, 100%, 64%);
	border: none;
}

textarea {
	resize: none;
}

.box {
	border: none;
	border-radius: unset;
	padding: 0;
}

/* モバイルより大きいとき */
@media (min-width: 400px) {

}

/* ファブレットよりおおきいとき */
@media (min-width: 550px) {
	.box {
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 30px;
		padding-bottom: 0px;
	}
}
