@import "base";

/* 変数 */

$backColor: hsl(190, 26%, 50%);
$foreColor: hsla(0, 0%, 100%, 0.84);
$borderColor: hsla(0, 0%, 100%, 0.3);

$white: hsl(0, 0%, 100%);
$orange: hsl(33, 100%, 64%);

/* 全般 */

body {
	background-color: $backColor;
	color: $foreColor;

	.box {
		border-color: $borderColor;
	}
}

/* モバイル以上の幅 */
@media (min-width: 400px) {

}

/* ファブレット以上の幅 */
@media (min-width: 550px) {

}
