@import "variables";
@import "base";

/* 全般 */

body {
	background-color: $back-color-dev;
	color: $fore-color-dev;

	.box {
		border-color: $border-color-dev;
	}
}

/* モバイル以上の幅 */
@media (min-width: 400px) {

}

/* ファブレット以上の幅 */
@media (min-width: 550px) {

}
