@import "variables";
@import "main";

/* 全般 */

.logo {
	font-size: 4.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0;

	.icon {
		height: 5rem;
	}
}

.layout-container {
	display: flex;

	> .side {
		min-width: 300px;
		width: 300px;
		margin-right: 2rem;

		.box {
			margin: 10px 0;
		}
	}

	> .main {
		min-width: 300px;
		flex: 1;
	}

	> .main > h1,
	> .side > h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

/* モバイル以上の幅 */
@media (min-width: 400px) {

}

/* ファブレット以上の幅 */
@media (min-width: 550px) {

}
