@import "main";

$backColor: hsl(210, 100%, 99%);
$foreColor: rgb(45, 45, 45);
$borderColor: rgba(0, 0, 0, 0.1);

$white: hsl(0, 0%, 100%);
$orange: hsl(33, 100%, 64%);

/* 全般 */
body {
	background-color: $backColor;
	color: $foreColor;
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}

.box {
	border-color: $borderColor;
}

.container {
	max-width: 1280px;
}

.logo {
	font-size: 4.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0;

	.icon {
		height: 5rem;
	}
}

.liquid-container {
	display: flex;

	.side {
		min-width: 300px;
		width: 300px;
		margin-right: 10px;

		.box {
			margin: 10px 0;
		}
	}

	.main {
		min-width: 300px;
		flex: 1;
	}

	.main > h1,
	.side > h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
}



/* モバイル以上の幅 */
@media (min-width: 400px) {

}

/* ファブレット以上の幅 */
@media (min-width: 550px) {

}
