@import "variables";
@import "base";

/* 全般 */

body {
	background-color: $back-color;
	color: $fore-color;
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}

.box {
	border-color: $border-color;
}

.content {
	@include responsive();

	padding-top: 2rem;
}

form :last-child {
	margin-bottom: 0;
}
