@import "variables";
@import "base";

/* 全般 */

body {
	background-color: $back-color;
	color: $fore-color;
}

.orange-button {
	color: $white;
	background-color: $orange;
	border: none;
}

.box {
	border-color: $border-color;
}

.container {
	max-width: 1280px;
}

form :last-child {
	margin-bottom: 0;
}

/* モバイル以上の幅 */
@media (min-width: 400px) {

}

/* ファブレット以上の幅 */
@media (min-width: 550px) {

}
